
<style>
    .button-container {
        margin-top: 200px;
        display: none;
    }
</style>

<h3>Login</h3>
<form action="/login" method="POST" autocomplete="off">
          
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="password" placeholder="Password" required>
    </div>
    

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Login </button>    
    </div>
</form>